<!DOCTYPE html>
<html>
<head>
  <title>OpenStax Connect Example Application</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
  Welcome, <%= current_user.casual_name %>
  <%= link_to "Log out", openstax_connect.logout_path %>
<% else %>
  <%= link_to "Log in", openstax_connect.login_path %>
<% end %>



<%= yield %>

</body>
</html>
