<div class="openstax-accounts development-login">
  <%= render partial: 'openstax/accounts/shared/attention' %>

  <h3>Create an Account</h3>

  <%= lev_form_for :create,
                   url: openstax_accounts.dev_accounts_path,
                   method: :post,
                   html: {class: 'form-inline'} do |f| %>


    <div class="form-group">
      <%= f.text_field :username, placeholder: 'Username' %>&nbsp;
      <%= f.select :role, OpenStax::Accounts::Account.roles.keys.map{|rr| [rr, rr]} %>&nbsp;
      <%= f.submit 'Create', class: 'btn btn-primary' %>
    </div>

  <% end %>

  <h3>Development Login</h3>

  <p>You need to login, but we're not connected to the Accounts server.<br>
  Search for a user below and click the sign in link next to him or her.</p>

  <%= render partial: 'openstax/accounts/shared/accounts/search',
             locals: {
               search_action_path: openstax_accounts.dev_accounts_path,
               search_results_partial: 'openstax/accounts/dev/accounts/search_results',
               remote: true,
               method: :get
             } %>

  <br>
</div>
