<div class="openstax-accounts development-login">

  <%= render partial: 'openstax/accounts/shared/attention' %>

  <h3>Create an Account</h3>

  <%= lev_form_for :create,
                   url: openstax_accounts.dev_accounts_path,
                   method: :post,
                   class: 'form-horizontal' do |f| %>

    <div class="form-group">
      Username
      <%= f.text_field :username, class: 'col-sm-4' %> 
      <%= f.submit 'Create', class: 'col-sm-2 btn btn-primary' %>
    </div>

  <% end %>

  <h3>Development Login</h3>

  <p>You need to login, but we're not connected to the Accounts server.
  Search for a user below and click the sign in link next to him or her.</p>

  <%= with_interceptor {
        render :partial => 'openstax/accounts/shared/accounts/search',
               :locals => { :search_action_path => openstax_accounts.search_dev_accounts_path,
                            :remote => true, :method => :get } } %>
  
  <br>
  <div id="search-results"></div>
</div>
